.move1 {
    animation: rotate1 3s linear;
    -webkit-animation: rotate1 3s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.move2 {
    animation: rotate2 3s linear;
    -webkit-animation: rotate2 3s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.small {
    animation: small 2s linear;
    -webkit-animation: small 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.big {
    animation: big 2s linear;
    -webkit-animation: big 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.small2 {
    animation: small2 2s linear;
    -webkit-animation: small2 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.big2 {
    animation: big2 2s linear;
    -webkit-animation: big2 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.small3 {
    animation: small3 2s linear;
    -webkit-animation: small3 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.big3 {
    animation: big3 2s linear;
    -webkit-animation: big3 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate1 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }
}

@-webkit-keyframes rotate2 {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes right {
    0% {
        height: 22.1875rem;
    }
    100% {
        height: 9rem;
    }
}

@-webkit-keyframes small {
    0% {
        height: 22.1875rem;
    }
    100% {
        height: 11.25rem;
    }
}

@-webkit-keyframes big {
    0% {
        height: 11.25rem;
    }
    100% {
        height: 22.1875rem;
    }
}

@-webkit-keyframes small2 {
    0% {
        width: 100%;
    }
    100% {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 3.75rem;
        transform: translate(0.9375rem, -4.5rem);
        -webkit-transform: translate(0.9375rem, -4.5rem);
    }
}

@-webkit-keyframes big2 {
    0% {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 3.75rem;
        transform: translate(0.9375rem, -4.5rem);
        -webkit-transform: translate(0.9375rem, -4.5rem);
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes small3 {
    0% {
        width: 100%;
        background-position: top;
    }
    100% {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 3.75rem;
        transform: translate(0.9375rem, -4.5rem);
        -webkit-transform: translate(0.9375rem, -4.5rem);
    }
}

@-webkit-keyframes big3 {
    0% {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 3.75rem;
        transform: translate(0.9375rem, -4.5rem);
        -webkit-transform: translate(0.9375rem, -4.5rem);
    }
    100% {
        width: 100%;
    }
}