.bj-yx1 {
    background-image: url("../img/bj-yx1.png");
    width: 100%;
    /*height: 17.5rem;*/
    height: 280px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
}

.bj-yx3 {
    background-image: url("../img/bj-yx3.png");
    width: 100%;
    height: 12.8125rem;
    background-size: 100% 100%;
}

.circle {
    width: .4375rem;
    height: .4375rem;
    border-radius: .4375rem;
    background-color: #5AC8FB;
    position: relative;
    top: .28125rem;
}

.shuju1 {
    background-image: url("../img/shuju1.png");
    background-size: 100% 100%;
    /*width: 11.125rem;*/
    /*height: 11.125rem;*/
    width: 178px;
    height: 178px;
    overflow: auto;
}

.shuju2 {
    background-image: url("../img/shuju2.png");
    background-size: 100% 100%;
    /*width: 11.125rem;*/
    /*height: 11.125rem;*/
    width: 178px;
    height: 178px;
}

.shuju3 {
    background-image: url("../img/shuju3.png");
    background-size: 100% 100%;
    /*width: 11.125rem;*/
    /*height: 11.125rem;*/
    width: 178px;
    height: 178px;
}

#canvas {
    position: absolute;
    top: -6px;
    left: -6px;
}

.mask {
    top: 0;
}

#credit {
    min-height: 2.25rem;
}